h1{
    color:#560bad;
}
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    /* Con este pading le damos tamaño al boton que estamos simulando */
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    /* Lo utilizamos para que los elementos no se encimen */
    display: inline-block;
}

/* Configuramos elementos de hover y active */
a:hover, a:active{
    background-color: #f72585;
}
