table{
    /* Agregamos el ancho que va a ocupar la tabla */
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /*border-spacing: 5px;*/
    padding: 5px;
}
th{
    color: white;
    background-color: blue;
}
/* nth-child() es una funcion que nos permite seleccionar las filas, ya sea las pares o imopares
even=pares
odd=impar*/
tr:nth-child(even){
    background-color: #f1faee;
}

tr:nth-child(odd){
    background-color: #a8dadc;
}
/*
td{
    text-align: center;
}
th{
    text-align: left;
}
*/